<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="home.lanceloti.Aula21_10_2017">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="Aula21_10_2017"></application>
</manifest>